body {
	background: url(../img/bg.png);
}

nav {
	margin-top: 30px;
	width: 100%;
	height: 68px;
	background: url(../img/navbg.png);
	position: relative;
}

#logo {
	position: absolute;
	top: -25px;
	left: 15%;
}

nav a{
	height: 30px;
	line-height: 30px;
	padding: 19px 20px;
	display: inline-block;
	font-size: 12px;
	color: azure;
}
#productsLi{
	text-align: center;
}
#productsLi a:hover{
	width: 160px;
	background: dodgerblue;
}
.navs1 {
	margin-left: 30%;
	background: #4a5981;
	padding: 18px 20px;
}

.trigon {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top-width: 7px;
	border-top-style: solid;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	bottom: -3px;
	left: 33%;
	margin-left: -7px;
	border-top-color: #4a5981;
}

#products {
	display: inline-block;
	position: relative;
}

#productsLi {
	width: 180px;
	height: 160px;
	background: url(../img/libg.png);
	font-size: 14px;
	color: white;
	position: absolute;
	top: 40px;
	left: -5px;
	display: none;
	opacity: 1;
	z-index: 100;
}

#productsLi a {
	padding: 5px 11px;
}

#first {
	position: relative;
	min-height: 475px;
}

#first p {
	width: 474px;
}

#first button {
	margin-top: 30px;
	width: 107px;
	height: 31px;
	background: url(../img/libg.png);
	color: white;
}

#first-one-left,
#first-two-left,
#first-three-left,
#first-four-left {
	float: left;
	margin-left: 100px;
	margin-top: 75px;
}

#first-one-right,
#first-two-right,
#first-three-right,
#first-four-right {
	float: left;
}

#bleft {
	width: 100px;
	height: 100px;
	left: 0;
	top: 50%;
	margin-top: -50px;
	background: white;
	opacity: 0.3;
	position: absolute;
	overflow: hidden;
	border-radius: 0 10px 10px 0;
}

#bleft img {
	margin-left: 35px;
	margin-top: 25px;
}

#bright {
	width: 100px;
	height: 100px;
	top: 50%;
	left: 100%;
	margin-top: -50px;
	margin-left: -100px;
	background: white;
	opacity: 0.3;
	position: absolute;
	overflow: hidden;
	border-radius: 10px 0 0 10px;
}

#bright img {
	margin-left: -45px;
	margin-top: 25px;
}

#num {
	position: absolute;
	top: 425px;
	left: 100px;
}

#num li {
	width: 15px;
	height: 15px;
	;
	background: gray;
	border-radius: 50%;
	display: inline-block;
}

#num .shining {
	background: deepskyblue;
}

.block {
	display: block;
}

.none {
	display: none;
}

#second {
	width: 100%;
	height: 205px;
	background: url(../img/secondbg.png);
	color: white;
}

#second p:nth-child(1) {
	font-size: 16px;
	font-weight: 800;
	margin-left: 10%;
	padding-top: 65px;
}

#second p:nth-child(2) {
	font-size: 10px;
	font-weight: 100;
	margin-left: 10%;
	margin-top: 25px;
}

#third {
	width: 700px;
	margin-top: 70px;
	margin-left: 10%;
}

#third a:nth-child(1) {
	font-size: 25px;
	color: rgb(96, 133, 188);
}

#third a:nth-child(2) {
	margin-left: 60%;
}

#third a:nth-child(2),
#third a:nth-child(3) {
	font-size: 12px;
	font-weight: 900;
	color: rgb(96, 133, 188);
	text-align: right;
}

#fourth {
	width: 700px;
	margin-top: 20px;
	margin-bottom: 85px;
	margin-left: 10%;
}

#fourth a:nth-child(1) {
	font-size: 25px;
	color: rgb(96, 133, 188);
}

#fourth a:nth-child(2) {
	margin-left: 20%;
}

#fourth a:nth-child(2),
#fourth a:nth-child(3) {
	font-size: 12px;
	font-weight: 900;
	color: rgb(96, 133, 188);
	text-align: right;
}

#fourth img:nth-child(4) {
	margin-top: 20px;
}

footer {
	background: url(../img/footbg.png);
	height: 125px;
	width: 100%;
	position: relative;
}

footer p {
	padding-top: 50px;
	font-size: 14px;
	color: white;
	margin-left: 10%;
}

#footTop {
	position: absolute;
	width: 25px;
	height: 25px;
	overflow: hidden;
	line-height: 20px;
	background: grey;
	border-radius: 50%;
	top: 35%;
	left: 800px;
	text-align: center;
	font-weight: 900;
	color: black;
	transition: all 1s;
}