body {
	background: url(../img/bg.png);
}

nav {
	margin-top: 30px;
	width: 100%;
	height: 68px;
	background: url(../img/navbg.png);
	position: relative;
}

#logo {
	position: absolute;
	top: -25px;
	left: 15%;
}

nav a{
	height: 30px;
	line-height: 30px;
	padding: 19px 20px;
	display: inline-block;
	font-size: 12px;
	color: azure;
}
#productsLi{
	text-align: center;
}
#productsLi a:hover{
	width: 160px;
	background: dodgerblue;
}
.navs1 {
	margin-left: 30%;
	background: #4a5981;
	padding: 18px 20px;
}


#products {
	display: inline-block;
	position: relative;
}

#productsLi {
	width: 180px;
	height: 160px;
	background: url(../img/libg.png);
	font-size: 14px;
	color: white;
	position: absolute;
	top: 40px;
	left: -5px;
	display: none;
	opacity: 1;
	z-index: 100;
}

#productsLi a {
	padding: 5px 11px;
}

footer {
	background: url(../img/footbg.png);
	height: 125px;
	width: 100%;
	position: relative;
}

footer p {
	padding-top: 50px;
	font-size: 14px;
	color: white;
	margin-left: 10%;
}

#footTop {
	position: absolute;
	width: 25px;
	height: 25px;
	overflow: hidden;
	line-height: 20px;
	background: grey;
	border-radius: 50%;
	top: 35%;
	left: 800px;
	text-align: center;
	font-weight: 900;
	color: black;
	transition: all 1s;
}